
.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #feeb80;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #feeb80;
    color: #44533A;
}

.container {
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feeb80+0,feffff+53,feffff+100;walkingTour */

    background: rgb(254,235,128); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,235,128,1) 0%, rgba(254,255,255,1) 53%, rgba(254,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(254,235,128,1) 0%,rgba(254,255,255,1) 53%,rgba(254,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(254,235,128,1) 0%,rgba(254,255,255,1) 53%,rgba(254,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeb80', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}
.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

li>a {
    color: #44533A; 
}

.carousel-caption, p, h1, h2, h4, h5 {
    /*  Tweaking Font Choice font-family: 'Dosis', sans-serif; */
    font-family: 'Poiret One', cursive;
}

.carousel-inner >.carousel-item>img { /* Amy */
    height: 500px;
    width: 100%;
}

h3 {font-family: 'Raleway', sans-serif;}

/* COLOR PALETTE */
/*
paler green tea #d6e7cb;
green tea #A6CA8C
darker green tea #85A270
darkest green tea #44533A

paler yellow #feeb80
yellow #FEE03F
thicker yellow #FED705
thickest yellow #FBD400

COLOR PICKER FROM PHOTO
palest yellow #FEFFFF
darkest yellow #FEDF85
stamp red #FDC887
palest building #ECDBD3
medium building #CDA07D
darkest building #342215
sign white #DEDCE5
palest sign blue #8CD5F3
darkest sign blue #1CBACD
lightest green #AEC0BF
medium green #86ADAA
darkest green #547371

lighter blue #b3f0ff 
blue #66e0ff
darker blue #33d6ff

flat brown #996633
flat brown lighter #c68c53
flat brown lightest #dfbf9f 

red brown #8b3527
pale red brown  #dd9388
paler red brown #eec9c3
*/